


:root{
--white: hsl(0, 0%, 100%);
--lightpink: hsl(275, 100%, 97%);
--grayishpurple: hsl(292, 16%, 49%);
--darkpurple: hsl(292, 42%, 14%);
}
t{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
  background-color:var(--grayishpurple);
  margin: 0px;

  }

.main-background{
  background-image:url('./assets/background-pattern-desktop.svg');
  height: 230px;
  position: relative;
}
  /*
  .background-image{
    position:absolute;
    top:50%;
    left:50%;

  }
  */


.white-container{
     background-color:var(--white);
     height:400px;
     width:500px;
     border-radius: 1rem;
     position:absolute;
     top:50%;
     left:33%;
   }
.box{
  display:flex;
  font-size: 30px;
  padding:1rem;
}
.box{
  padding:1rem;

}
.faq {
  display:flex;
  padding: 5px;
}
.star{
  padding:20px;


}
.d1 {
	font-size: 16px;

}
.faq-container {
	display: flex;
  padding:2rem 2rem 0rem 2rem;
}
.faq-title {
	font-size: 30px;
	font-weight: bold;
  padding:10px;
  font-family:"Work Sans", sans-serif;
}
.faq-block {
	padding: 0rem 2rem 2rem 2rem;

}
.star-icon {
	padding: 10px;
}
.faq-question {
	display: flex;
  font-family:"Work Sans";
	padding: 0rem 0rem 1rem 0rem;
  font-weight: bold;
  font-size: 15px;
}
.answer{
    font-family:"Work Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #80808059;
    padding: 1.2rem;
    padding: 0rem 0rem 1rem 0px;
}


.minus {
	padding: 0rem 0rem 0rem 1rem;

}
.minus img{
  height:20px;
}
.onlyquestions.plus{
  display:flex;
  flex-direction: row;
}
.free{
  display:flex;
}
