
:root{
--verydarkmagenta: hsl(300, 43%, 22%);
--softpink: hsl(333, 80%, 67%);
--darkgrayishmagenta: hsl(303, 10%, 53%);
--lightgrayishmagenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);
}

.mainbackground{
  background-color:var(--white);
  line-height: 2.6rem;
  display: flex;
}

.bigheading{
  font-family: "League Spartan", sans-serif;
  font-weight:860;
  font-size:3rem;
  color:var(--verydarkmagenta);
}
.fline{
padding: 5rem 3rem 0rem 6rem;
  }
.sline{
padding: 0rem 3rem 0rem 6rem;
}
.tline{
padding: 0rem 4rem 1rem 6rem;
}
.smallheading{
  font-family: "League Spartan", sans-serif;
  font-size:0.8rem;
  font-weight: bold;
  color:var(--darkgrayishmagenta);
  line-height: 1.4rem;
  padding: 0rem 3rem 1rem 6rem;
}
.rightside{
  font-family: "League Spartan", sans-serif;
  font-size:1rem ;
  font-weight:bold;
  color:var(--verydarkmagenta);
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  gap:10px;
}
.fbox{
  width: 20rem;
  height: 2.5rem;
  padding: 5rem 3rem 0rem 4rem;
}
.fbox img{


}

.sbox{
  width: 20rem;
  height: 2.5rem;
  padding: 0rem 3rem 0rem 5rem;
}
.tbox{
  width: 20rem;
  height: 2.5rem;
/*  background-color: var(--lightgrayishmagenta);*/
  padding: 0rem 3rem 0rem 6rem;
}

/*
.rightmain {
	padding: 5rem 6rem;
}
*/
.downone{
  background-color: var(--verydarkmagenta);
  width: 16rem;
  height: 12rem;
  border-radius: 0.5rem;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 1rem;
    font-family: "League Spartan", sans-serif;
}

.downtwo{
  background-color: var(--verydarkmagenta);
  width: 15rem;
  height: 13rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 350px;
  left:403px;
  padding: 1rem;
}

.downthree {
	background-color: var(--verydarkmagenta);
	width: 15rem;
	height: 14rem;
	border-radius: 0.5rem;
	position: absolute;
	top: 377px;
	left: 689px;
  padding: 1rem;
}


.down {
	display: flex;
  padding: 1rem 1rem 5rem 6rem;
  gap: 2rem;

}
.fbox{
  background-color:
}
.fbox .icon{
  background-color: var(--lightgrayishmagenta);
}
.downone img{
  border-radius: 50%;
  width: 34px;
/*  padding: 2rem 1rem 2rem 1rem;*/
  height: 40px;
}

.downtwo img{
  border-radius: 50%;
  width: 34px;

}

.downthree img{
  border-radius: 50%;
  width: 34px;

}

.downone .text{
  color: white;
/* padding: 1.5rem 2rem 0rem 0rem;*/
  height: 40px;
}
.text .buyer{
  font-size: 20px;
}
.paraone{

  line-height: normal;
  color: white;
  font-size: 12px;
    font-family: "League Spartan", sans-serif;
}
.downtwo .text{
  color: white;
  height: 40px;
}
.downtwo .Buyer{
font-size: 20px;
}

.buyer {
	color: #ffffff80;
    font-family: "League Spartan", sans-serif;
}
.text{
    font-family: "League Spartan", sans-serif;
    color: white;
}
