

:root{
---coloryellow: hsl(47, 88%, 63%);
---colorwhite: hsl(0, 0%, 100%);
---colorgray500: hsl(0, 0%, 42%);
---colorgray950: hsl(0, 0%, 7%);
}


body{
    background-color:var(---coloryellow);
    width:100%;
  }

  @font-face {
    font-family: inter-regular;
    src: url('../assets/fonts/static/SemiBold.ttf');
  }

.white{
  background-color:white;
  width:55%;
  border-radius:2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.image {
	display: flex;
	justify-content: center;

}
.head{
  font-size:1rem;
  fontt-weight:500;
  background-color:var(---coloryellow);
  border-radius:1rem;
  width:14%;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  font-weight: 700;

}
.mainbackground{
  display: flex;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;

}
img{
  width:100%;
  padding: 1rem;
  border-radius: 2rem;
}
.info{
  padding:1rem 2rem 1rem 1rem;
}
.mainheading{
  padding:0.7rem 2rem 1rem 1rem;
  font-size:2rem;
  font-weight:900;
}
.paragraph {
	padding: 0rem 0rem 1rem 1rem;
}
.icon img{
  width:7%;

}
.icon{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.last{
font-size: smaller;
}
