@media (min-width:1024px) {
:root{
 --colorred: hsl(0, 100%, 74%) ;
 --colorgreen: hsl(154, 59%, 51%);
 --colorblue: hsl(248, 32%, 49%);
 --colordarkblue: hsl(249, 10%, 26%);
 --colorgrayishblue: hsl(246, 25%, 77%);
}
 body{
  background-color:bisque;
  font-size: 10px;
  font-family: "Ubuntu", serif;
  line-height: 0.5rem;
}
.whitebackground{
  background-color:white;
  width:70%;
  border-radius: 1rem;
  height:36rem;
  padding: 1rem;
  margin: 2rem;
}
.mainbackground {
	display: flex;
	justify-content: center;
}
.bluecontainer {
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  height:40rem;
  padding: 1rem;

}
img {
	padding: 1rem;
}
.round{
  color:white;
}
.round .circle{
  width:20px;
  height:20px;
  border-radius:50%;
  background-color: white;
  color:blue;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:2rem;
}
.round .steps{
font-size:0.7rem;
font-weight:bold;

}




}
